---
import Card from "../components/card.astro";
import Chip from "../components/chip.astro";

// Put all your links here
const links: Link[] = [
  {
    desc: "Blog", // The text that will be rendered
    link: "https://fmoran.me", // The link
    icon: "fa-solid fa-home", // An icon from Font Awesome: https://fontawesome.com/search?o=r&m=free
  },
  {
    desc: "Mini Blog",
    link: "https://mini.fmoran.me",
    icon: "fa-solid fa-leaf",
  },
  {
    desc: "Signal",
    link: "https://signal.me/#eu/3HL7nLeMMVdqAw_PhJs3tL76ZT4-civXyTLnXyxtZKzmaNWK0SlNRKosoQHXK135",
    icon: "fa-brands fa-signal-messenger",
  },
  {
    desc: "Mastodon",
    link: "https://mastodon.social/@FMoran",
    icon: "fa-brands fa-mastodon",
  },
];
---
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/x-icon' href='/favicon.png' />
    <meta name='viewport' content='width=device-width' />
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css'
      integrity='sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Useful links of Moran Fong' />
    <meta name='author' content='Moran Fong' />
    <meta property='og:title' content='Moran Fong' />
    <meta property='og:image' content='favicon.png' />
    <meta property='og:description' content='Linktree of Moran Fong' />
    <meta property='twitter:description' content='Linktree of Moran Fong' />
    <meta property='twitter:title' content='Moran Fong' />
    <meta property='twitter:image' content='favicon.png' />
    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@nopeople404' />
    <title>Links of Moran Fong</title>
    <style>
      @font-face {
        font-family: Geist;
        src: url(/Geist.ttf);
        font-display: swap;
      }
    </style>
  </head>
  <body
    class='bg-[#1e1e1e] flex justify-center items-center w-screen h-screen font-[Geist] text-white'
  >
    <main class='w-[80%] flex flex-col gap-8'>
      <h1 class='md:text-6xl text-4xl font-black text-center'>Moran Fong</h1>
      <div class='grid justify-center gap-4'>
        {
          links.map(({ desc, link, icon }) => {
            return <Card {desc} {link} {icon} />;
          })
        }
      </div>
      <div class='flex justify-center gap-8'>
        <!-- Put some social links who have a definitive icon here: -->
        <!-- <Chip link='youtube.com/' icon='fa-brands fa-youtube' /> -->
        <Chip link='github.com/moranfong' icon='fa-brands fa-github' />
        <Chip link='x.com/nopeople404' icon='fa-brands fa-x-twitter' />
      </div>
      <p class='text-center mx-auto'>Or write me a mail at i@fmoran.me</p>
    </main>
  </body>
</html>
